body {
    background-color: lightgray;
    border: blueviolet;
    text-align: center;
    font-family: 'Merriweather', serif;
}

alert {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
    border-color: blueviolet;
    border-style: inset;
    border-width: 1px;
}

col-sm-6 {
    margin: 2px;
    padding: 2px;
}


#tic-tac-toe-grid {
    background-color: rgb(13, 170, 233);
    border-color: blueviolet;
    border-style: inset;
    border:rgb(105, 13, 233);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    color: rgb(13, 170, 233);
    text-decoration-color: blueviolet;
    text-shadow: blueviolet;
    border-style: inset;
    border-width: 1px;
    border-color: blueviolet;
    background-color: linen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h5,h6 {
    text-decoration-color: pink;
    color: blueviolet;
    background-color: linen;
    border-color: blueviolet;
    border-style: inset;
    border-width: 1px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button {
    border: rgb(3, 41, 56);
    border-color:rgb(105, 13, 233);
    border-style: inset;
    border-width: 1px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.button-1 {
    background-color: lightgrey;
    border-radius: 35%;
    padding: 2em;
    margin: 0.5em;
    color:  rgb(105, 13, 233);
    font-size: 16px;
    text-shadow: gray;
    font-weight: 5;
}

.button-1:hover {
    background-color: white;
    color:  rgb(105, 13, 233);
    border-color:rgb(105, 13, 233);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-2 {
    background-color: rgb(13, 170, 233);
    color:  rgb(105, 13, 233);
    font-size: 14px;
    text-shadow: gray;
    margin: 1em;
    padding: 1em;
    border-radius: 50%;
}

.button-2:hover {
    background-color: white;
    color:  rgb(105, 13, 233);
    border-color:rgb(105, 13, 233);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

